*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(39, 46, 46);
    color: white;
}


/* For the title "To Do" */
header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-bottom-style: solid;
}

.addNew {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 35px;
    border: solid black;
    background-color: gray;
    color: black;
}

.addNew:hover{
    background-color: darkgray;
}
/* For the overlay */
.overlay{
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
}

.closeButton{
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border: none;
    align-self: flex-end;
}

/* For the 'add new project' overlay */
.projectOverlay{
    display: none;
    height: 40vh;
    flex-direction: column;
    justify-content: space-around;
    background-color: slategray;
}


/* For the 'add new item' overlay */
.itemOverlay{
    display: none;
    flex-direction: column;
    background-color: slategray;
    width: 50vw;
}

.itemOverlay form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: auto;
    
}

/* For the input forms */
.error{
    height: 2em;
    color: rgb(102, 40, 52);
}

/* For the delete project/item overlay */
.deleteOverlay{
    display: none;
    flex-direction: column;
    background-color: slategray;
    width: 20vw;
    height: 25vh;
    justify-content: space-between;
    text-align: center;
    padding: 0 0 15px 0;
}

.deleteOverlay .buttons{
    margin: 0 20px;
}

#projectTitle{
    font-size: 25px;
    font-weight: 800;
}

/* For the item details overlay */
.detailsOverlay{
    display: none;
    flex-direction: column;
    background-color: slategray;
    width: 20vw;
    height: 25vh;
    justify-content: space-between;
    /* text-align: center; */
    padding: 0 0 15px 20px;
}

#editButton{
    width: 80px;
    align-self: flex-end;
}

/* For the content */
.contentWrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


/* For the projects */
.projectWrapper{
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: solid;
}

.projectWrapper h2{
    text-align: center;
    margin-bottom: 10px;
}

.projectWrapper .delProjOverlay {
    align-self: flex-start;
}

.delProjOverlay:hover{
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.5);
}

.projectButton{
    height: 4em;
    background-color: grey;
    border: solid black;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.projectButton h3 {
    align-self: center;
}

.projectButton:hover {
    background-color: darkgray;
}

.dateDrivenProjects{
    display: flex;
    flex-direction: column;
}

.newProjectHolder{
    display: flex;
    flex-direction: column;
}

#addNewProject{
    margin-top: 60px;
    align-self: flex-end;
}

/* For the items */

.projectTitle {
    text-align: center;
    font-size: 30px;
}
.itemWrapper{
    margin: 0 30px;
    margin-top: 100px;
}

.item{
    display: flex;
    height: 3em;
    justify-content: space-between;
    align-items: center;
}

.itemLabels{
    margin: 20px 0;
    color: rgb(104, 137, 187);    
}

.itemContainer{
    background-color: rgb(15, 15, 15);
}

.itemStart{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.completed {
    width: 25px;
    height: 5px;
    flex: 0 1;
}

.itemContainer .itemStart{
    padding-left: 30px;
}

.itemEnd{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

#addNewItem{
    margin-top: 20px;
    align-self: flex-end;
    margin-left: 92%;
}

.delItem{
    background-color: rgba(265, 265, 265, 0.4);
}